body {
    font-family: 'Arial', sans-serif; /* Fonte padrão para o site */
    margin: 0;
    padding: 0;
    background-color: #f0f7f4; /* Um tom verde muito claro, suave para os olhos */
}

.sidebar, .login-container, .register-container {
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.sidebar {
    background-color:#457765; /* Um verde escuro para contraste */
    color: #effffa; /* Um branco pálido para o texto */
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #effffa;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #effffa;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.content {
    margin-left: 220px;
    padding: 20px;
    background-color: #f0f7f4; /* Mantém o fundo claro para o restante do conteúdo */
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="date"], button {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #a8e6cf; /* Um verde claro suave */
    color: #000000; /* Cor de texto azul escuro para contraste */
    border: none;
    cursor: pointer;
}

.product-category {
    background-color: #a8e6cf; /* Um verde claro para os boxes, oferecendo contraste sutil com o fundo */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.product-category img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

ul {
    list-style-type: none; /* Remove o marcador da lista */
    padding: 0; /* Remove o recuo padrão */
}

ul li {
    margin-bottom: 20px;  /* Aumenta o espaço abaixo de cada item */
}

button:hover {
    background-color: #7fc6b1; /* Um tom mais escuro de verde para o hover */
    color: #000000; /* Azul muito escuro para o texto */
}

button:active {
    background-color: #66b39b; /* Verde ainda mais escuro para o estado ativo */
    color: #000000; /* Azul escuro quase preto */
}

#home h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 0; /* Remova ou ajuste a margem superior, se necessário */
    margin-bottom: 20px; /* Adiciona uma margem inferior para espaçamento */
    font-family: 'Georgia', serif; /* Define uma fonte diferente para h2 na página home */
}

footer {
    background-color: #457765; /* Utilizando o mesmo verde escuro da sidebar */
    color: #effffa; /* Texto em branco pálido */
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    position: relative; /* Garante que o rodapé seja posicionado em relação ao corpo da página */
    left: 120px; /* Desloca o rodapé para a direita, alinhando-o horizontalmente com o conteúdo */
    right: 0;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
}

footer p {
    margin: 0; /* Remove as margens padrão do parágrafo */
}